  /* ---------------Color schemas---------------- */
  
  .red {
      background: red;
  }
  
  .blue {
      background: blue;
  }
  
  .yellow {
      background: yellow;
  }
  
  .green {
      background: green;
  }
  
  .pink {
      background: pink;
  }
  
  .purple {
      background: purple;
  }
  /* ----------------Standard parameters--------------- */
  
  html,
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  
  h1,
  h2,
  h3 {
      font-family: 'Nunito', sans-serif;
  }
  
  p,
  a {
      font-family: 'Noto Sans', sans-serif;
  }
  /* ---------------------------Mobile-first-view----------------------------- */
  /* ----------------HEADER------------------ */
  
  .mobile-header {
      min-height: 70px;
      background: #effad3;
      position: relative;
  }
  
  #sandwich {
      width: 90px;
      height: 50%;
      padding: 20px 0 15px 50px;
  }
  
  nav {
      display: none;
  }
  
  .svg-wrapper {
      display: flex;
      width: 150px;
      position: absolute;
      right: 50px;
      top: 20px;
  }
  
  .svg-wrapper div {
      width: 60px;
      height: 50%;
      margin: 0 5px;
      border-radius: 50px;
  }
  
  .svg-wrapper div:first-child {
      border: 1px solid blue;
  }
  
  .svg-wrapper div:nth-child(2) {
      border: 1px solid purple;
  }
  
  .svg-wrapper div:last-child {
      border: 1px solid red;
  }
  
  .svg-wrapper div img {
      display: block;
      width: 80%;
      margin: 5% auto;
  }
  
  .tablet-header {
      display: none;
  }
  /* ----------------MAIN & grid------------------ */
  
  main {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: minmax(150px, auto);
  }
  
  body {
      color: whitesmoke;
  }
  /* ------------Upper Section / main function cards--------------- */
  
  .upper section {
      width: 95%;
      margin: 1% auto;
      min-height: 150px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 3% 0;
  }
  
  .upper div {
      width: 70px;
      height: 70px;
      background: white;
      border-radius: 50px;
  }
  
  .upper img {
      width: 70%;
      height: 70%;
      display: block;
      margin: 2% auto;
  }
  
  .first {
      animation-name: opacity;
      animation-duration: 2s;
      animation-timing-function: linear;
  }
  
  .second {
      animation-name: opacity;
      animation-duration: 4s;
      animation-timing-function: linear;
  }
  
  .third {
      animation-name: opacity;
      animation-duration: 6s;
      animation-timing-function: linear;
  }
  
  @keyframes opacity {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  .first {
      background: teal;
      border-radius: 10px;
  }
  
  .first a:hover {
      background: mediumseagreen;
  }
  
  .second {
      background: mediumseagreen;
      border-radius: 10px;
  }
  
  .third {
      background: seagreen;
      border-radius: 10px;
  }
  
  .third a:hover {
      background: #effad3;
      color: seagreen;
  }
  
  .upper a {
      color: whitesmoke;
  }
  
  .upper h3,
  .upper p {
      padding: 2% 0;
  }
  /* ------------------Article--------------------- */
  
  article {
      background: #effad3;
      min-height: 340px;
      width: 95%;
      margin: auto;
      position: relative;
      border-radius: 2px;
  }
  
  article img {
      width: 95px;
      height: 95px;
      border: seagreen solid 1px;
      border-radius: 50px;
      position: absolute;
      left: 50%;
      top: 8%;
      transform: translate(-50%, -8%);
  }
  
  article div {
      background: mediumseagreen;
      min-height: 220px;
      line-height: 3em;
      margin-top: 90px;
      padding: 1px 15px;
      border-radius: 10px;
  }
  
  article h1 {
      margin-top: 35px;
  }
  
  article p {
      font-size: 1.5em;
  }
  /* --------------Pictures Section-------------- */
  
  .pictures div {
      background: white;
      height: 340px;
      width: 95%;
      margin: 1.5% auto;
      padding-top: 7px;
      color: black;
      text-align: center;
      border-radius: 2px;
      box-shadow: 1px 2px 3px 2px #999999;
  }
  
  .pictures img {
      width: 90%;
      height: 70%;
  }
  
  .pictures p {
      font-size: 0.8rem;
      margin: 10px;
  }
  
  .pictures h3 {
      margin-top: 20px;
  }
  
  span {
      font-weight: bold;
  }
  /* ----------------FOOTER & grid------------------ */
  
  footer {
      background: teal;
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: minmax(50px, auto);
      justify-content: center;
      align-items: center;
  }
  
  .footer-svg-holder {
      width: 30px;
      height: 30px;
      background: whitesmoke;
      border-radius: 50px;
      padding: 1px;
      margin-right: 35px;
  }
  
  footer img {
      width: 70%;
      height: 70%;
      display: block;
      margin: 2px auto;
  }
  
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .one {
      grid-row: 1 / 3;
  }
  
  .two {
      grid-row: 3 / 4;
  }
  
  .three {
      grid-row: 4 / 5;
  }
  
  .four {
      grid-row: 5 / 6;
  }
  
  .five {
      grid-row: 6 / 7;
  }
  
  .six {
      grid-row: 7 / 8;
  }
  
  .six-holder {
      display: grid;
  }
  
  .six svg {
      width: 50%;
      height: 2px;
      display: flex;
  }
  
  rect {
      width: 100%;
      height: 2px;
      fill: whitesmoke;
  }
  
  .seven {
      grid-row: 8 / 10;
  }
  
  .seven h3,
  .one h3 {
      margin: 15px;
  }
  
  .eight {
      grid-row: 10 / 11;
  }
  
  .nine {
      grid-row: 11 / 12;
  }
  
  .ten {
      grid-row: 12 / 13;
  }
  
  .ten p {
      font-size: 8px;
  }
  
  .eight p,
  .nine p,
  .ten p,
  .two p,
  .three p,
  .four p,
  .five p {
      margin: 10px 0;
  }
  
  .four a {
      color: whitesmoke;
      text-decoration: none;
  }
  /* ------------------Tablet view------------------ */
  
  @media only screen and (min-width: 600px) {
      #sandwich {
          display: none;
      }
      .links {
          display: block;
      }
      nav {
          display: block;
          display: flex;
          width: 60%;
          padding: 20px 20px;
          margin: 0 20px;
          justify-content: space-around;
      }
      a {
          text-decoration: none;
          color: teal;
      }
      a:hover {
          color: white;
          background: teal;
      }
      .tablet-header {
          min-height: 250px;
          display: block;
          position: relative;
          background-image: url("/img/header-cover.jpg");
      }
      .tablet-header div {
          position: absolute;
          background: rgba(0, 0, 0, 0.7);
          width: 390px;
          height: 160px;
          right: 7px;
          top: 7px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
      }
      .upper {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-auto-rows: minmax(100px, auto);
          margin: 10px 0;
      }
      .first {
          grid-column: 1 / 3;
      }
      .pictures {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-auto-rows: minmax(100px, auto);
          margin: 10px 0;
      }
      .pictures div:first-child {
          grid-column: 1 / 3;
      }
      .pictures div:nth-child(2) {
          grid-column: 3 / 5;
      }
      .pictures div:last-child {
          grid-column: 2 / 4;
      }
      .six-holder {
          display: none;
      }
      footer {
          grid-template-columns: 1fr 1fr;
          align-items: flex-start;
          padding-bottom: 15px;
      }
      .footer-left {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: repeat(6, 1fr);
      }
      .one,
      .two,
      .three,
      .four,
      .five {
          justify-content: flex-start;
          margin-left: 15px;
      }
      .one {
          grid-area: 1/1/3/2;
      }
      .two {
          grid-area: 3/1/4/2;
      }
      .three {
          grid-area: 4/1/5/2;
      }
      .four {
          grid-area: 5/1/6/2;
      }
      .five {
          grid-area: 6/1/7/2;
      }
      .footer-right {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: repeat(6, 1fr);
      }
      .seven {
          grid-area: 1/1/3/2;
      }
      .eight {
          grid-area: 4/1/5/2;
      }
      .nine {
          grid-area: 5/1/6/2;
      }
      .ten {
          grid-area: 6/1/7/2;
      }
  }
  /* -----------------Laptop view------------------------- */
  
  @media only screen and (min-width: 900px) {
      main {
          width: 95%;
          margin: 0 auto;
      }
      .upper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: minmax(100px, auto);
          margin: 25px 10px;
      }
      .first {
          grid-column: 1 / 2;
      }
      .second {
          grid-column: 2 / 3;
      }
      .third {
          grid-column: 3 / 4;
      }
      article {
          width: 100%;
      }
      .pictures {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
      }
      .pictures div:first-child {
          grid-column: 1 / 2;
      }
      .pictures div:nth-child(2) {
          grid-column: 2 / 3;
      }
      .pictures div:last-child {
          grid-column: 3 / 4;
      }
      article {
          display: grid;
          grid-template-columns: 30% 70%;
          grid-template-rows: 1fr;
      }
      article img {
          width: 200px;
          height: 200px;
          border-radius: 100px;
          position: static;
          left: 0;
          top: 0;
          transform: translate(0, 0);
          justify-self: center;
          align-self: center;
      }
      article div {
          margin-top: 0;
          margin-right: 30px;
          align-self: center;
      }
  }